
#main-text{
    background-color:white !important;
    border:solid red 1px;
    margin-top:20px;
    margin-right:4px;
    margin-left:4px;
}

#title{
    font-size:55px;
    text-align:center;  
}

.navbar-custom{
    color:white;
    font-weight: bold;
    background-color: red;
}

#logo{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 68%;
    background-color: black;
}

#tagline{
    text-align:center;
}

#map-holder{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    width: 68%;
    /* background-color: white; */
}

#footer-box{
    text-align: center;
    background-color: black;
    color:white;
    position: absolute;
    right: 0;
    /* bottom: 0; */
    left: 0;
    padding: 1rem;
    margin-top: 20px;
}

#contact-banner{
    text-align:center;
    background-color: white;
    color:black;
    font-weight:bold;
}

#contact-box{
    background-color:white;
    margin-top:15px;
    min-height:350px;
    min-width: 100%;
    padding:2px;
}

body{
    background-image: URL('./images/background.jpg');
    background-size: cover;
};