
#main-text{
    background-color:white !important;
    border:solid red 1px;
    margin-top:20px;
    margin-right:4px;
    margin-left:4px;
}

#title{
    font-size:55px;
    text-align:center;  
}

.navbar-custom{
    color:white;
    font-weight: bold;
    background-color: red;
}

#logo{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: black;
}

#tagline{
    text-align:center;
}

#map-holder{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 68%;
    background-color: white;
}

footer{
    text-align: center;
    background-color: black;
    color:white;
    min-height: 100%;

}

body{
    background-image: URL('./images/background.jpg');
    background-size: cover;
};